h1 {
    text-align: center;
}

.navBar {
    text-align: center;
    background-color: black;
}

.navBar a {
    font-size: 1em;
    color: white;
    min-width: 100px;
    margin: 10px;
}

.navBar a:hover {
    cursor: pointer;
}

svg {
    display: block;
    margin: 0 auto;
    border: 1px solid gray;
    border-top: 0;
}