* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.graphDrawContainer {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.navBar {
    text-align: center;
    background-color: black;
    /*Make this span the entire width of viewable area*/
}

.navBar a {
    font-size: 1em;
    color: white;
    min-width: 100px;
    margin: 10px;
}

.navBar a:hover {
    cursor: pointer;
}

svg {
    display: block;
    margin: 0 auto;
    border: 1px solid gray;
    border-top: 0;
    /*pointer-events: none;*/
}

.draggable {
    cursor: move;
}